*:focus {
    border: 2px solid #191919;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.title {
    font-size: 30px;
    text-align: center;
}

h1 {
    font-size: 26px;
    font-weight: bold;
    padding-left: 5%;
    padding-top: 8px;
}


header {
    background-color: #f3663f;
    border: 2px solid black;
}

nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    border: 2px solid black;
}

.nav_item {
    color: #191919;
    text-decoration: none;
    font-size: larger;
    padding: 4px;
    margin: 3px;
    font-weight: bold;
    text-align: center;
    border: 2px hidden #191919;
}

.nav_item:focus, .nav_item:hover {
    text-decoration: overline underline 2px;
}

/* change the styling of current page on the navigation */
body.home a.home,
body.eurotrip a.eurotrip,
body.servicetrip a.servicetrip {
    color: #191919;
    text-decoration: underline;
    background-color: white;
}

nav a:visited{
    color: #191919;
}


a {
    text-decoration: none;
}

a.skip {
    background-color: white;
    position: absolute;
    top: -50px;
}

a.skip:focus {
    top: 15px;
}

.imagesService {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin-bottom: 8px;
}

.column div {
    margin-top: 8px;
    vertical-align: middle;
}

.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 4px;
}

.column p {
    padding: 2px;
    background-color: #d3d3d3;
}

.thomas {
    display: block;
    margin: auto;
    width: 60%;
}

.imagesEuro {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 20px;
    row-gap: 50px;
    align-items: top;
    margin-left: 2%;
    margin-right: 2%;
}

p.about {
    margin: 5%;
    font-size: 17px;
    padding: 4px;
    border: 4px dashed #191919;
}

img {
    max-width: 100%;
    height:auto;
}

.imagesEuro img {
    border: 2px solid #f3663f;
}

footer {
    background-color: #f3663f;
    text-align: center;
    border: 2px solid black;
    font-weight: bold;
}

@media screen and (min-width: 700px) {
    .imagesEuro {
        grid-template-columns: 1fr 1fr;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 2%;
        justify-items: center;
    }

    

    .imagesEuro .item3 {
        grid-column: 1 / -1;
        max-width: 80%;
    }

    .imagesEuro .item7 {
        grid-row: 5 / 5;
        grid-column: 2 / 2;
    }

    .imagesEuro .item8 {
        grid-row: 5 / 5;
        grid-column: 1;
    }

    .imagesEuro .item10 {
        grid-column: 1 / -1;
        max-width: 70%;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .thomas {
        max-width: 40%;
    }

    nav ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

}

@media screen and (min-width: 1000px) {
    .column {
        flex: 25%;
        max-width: 25%;
    }

    .thomas {
        margin-left: 50%;
        margin-right: 5%;
    }

    .column > div {
        position: relative;
    }

    .column p {
        position: absolute;
        visibility: hidden;
        top: 50%;
        text-align: center;
        width: 68%;
        margin-left: 16%;
        margin-right: 16%;
    }

    .column div:focus p, .column div:hover p {
        visibility: visible;
    }

    .column div:focus img, .column div:hover img {
        filter: brightness(30%)
    }

    .imagesEuro {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .imagesEuro img {
        border-width: 5px;
    }

    .imagesEuro .item9 {
        grid-area: 1 / 3 / 1 / 3;
    }

    .imagesEuro .item3 {
        max-width: 1000px;
    }

    .imagesEuro > div {
        position: relative;
    }

    .imagesEuro p {
        position: absolute;
        visibility: hidden;
        bottom: 0%;
        background-color: #f3663f;
    }

    .imagesEuro div:focus p, .imagesEuro div:hover p {
        visibility: visible;
    }

    .imagesEuro .item7 {
        grid-column: 2 / 4;
        max-width: 50%;
    }

    .imagesEuro .item8 {
        grid-column: 1 / 3;
        max-width: 50%;
    }

    .imagesEuro .item10 {
        max-width: 800px;
    }

    p {
        font-size: 18px;
    }

    p.about {
        position: absolute;
        margin-right: 53%;
        margin-top: 8%;
        font-size: 20px;
    }

    nav ul {
        display: grid;
        grid-template-columns: 15% 15% 15%;
        justify-items: center;
    }

    .nav_item {
        padding-left: 10px;
        padding-right: 10px;
    }
}